<h1>All Vendors</h1>

<ul>
  <img src="http://www.visitbn.org/wp-content/uploads/2017/01/Screen-Shot-2017-01-20-at-11.40.18-AM.png">
  <% @vendors.each do |vendor| %>
    <li><%= link_to vendor.name, vendor %></li>
  <% end  %>
</ul>
